{% extends "main.html.twig" %}

{% block header %}

{% endblock %}

{% block content %}
    {{data.title}}

    <div class="template-container">
    {% for recipe in data %}
        
        <div class="col-md-12 recipe-block">
            <div class="col-md-5 recipe-details-img" style="background-image: url('assets/img/gerechten/{{ recipe.image }}.jpg');"></div>
            <section class=" recipe-details col-md-7">
                <header>
                    <div class="recipe-info">
                        <i class="material-icons" style="vertical-align: bottom">&#xe7fb;</i>
                        <span>4</span>
                        
                        <i class='fas fa-euro-sign'></i>
                        <span>{{ recipe.price}}</span>

                        <i class="glyphicon glyphicon-fire"></i>
                        <span>{{ recipe.calories}}</span>
                    </div>
                    <div class="title">
                        <h1>{{ recipe.title}}</h1>
                        <div class="rating">
                            {% for i in 1..5 %}
                                {% if i <= recipe.rating %}
                                    <span class="fa fa-star checked" data-value={{i}}></span>
                                {% else %}
                                    <span class="fa fa-star" data-value={{i}}></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="header-bottom">
                        <div class="author">
                            {{recipe.date}}, {{recipe.user_name}}
                        </div>
                        <div class="recipe-tags">
                            <span class="recipe-tags-kitchen">{{ recipe.kitchen }}</span>
                            <span class="recipe-tags-type">{{ recipe.type }}</span>
                        </div>
                    </div>
                    
                </header>
                <p>{{ recipe.longDescription}}</p>
                <footer>
                    <a class="recipe-btn" href="http://localhost/educom-verrukkulluk/index.php?action=detail&gerecht_id={{ recipe.id }}">Op lijst</a>
                    <i id="favouriteBtn" class='far fa-heart'></i>
                </footer>
            </section>
        </div>

        <div class="detail-tabs">
            <div class="pc-tab">
                <input checked="checked" id="tab1" type="radio" name="pct" />
                <input id="tab2" type="radio" name="pct" />
                <input id="tab3" type="radio" name="pct" />
                <nav>
                    <ul>
                    <li class="tab1">
                        <label for="tab1">
                            <h4>Ingrediënten</h4>
                        </label>
                    </li>
                    <li class="tab2">
                        <label for="tab2">
                            <h4>Bereidingswijze</h4>
                        </label>
                    </li>
                    <li class="tab3">
                        <label for="tab3">
                            <h4>Opmerkingen</h4>
                        </label>
                    </li>
                    </ul>
                </nav>

                <section>
                    <div class="tab1">
                        {% for ingredient in recipe.ingredients %}
                            <div class="tab-content">
                                <img src="https://www.inter-drinks.be/wp-content/uploads/2022/08/linguine-barilla-oro-chef-n%C2%B0-13-1kg-1.jpg" />
                                <div>
                                    <h3>{{ingredient.naam}}</h3>
                                    <p>{{ingredient.omschrijving}}</p>
                                    <span><h4>Hoeveelheid:</h4> {{ingredient.aantal}} {{ingredient.verpakking}}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab2">
                        {% for step in recipe.preparation %}
                            <div class="tab-content">
                                <span class="step-logo">{{step.nummeriekveld}}.</span>
                                <div>
                                    <p>{{step.tekstveld}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab3">
                        {% for comment in recipe.comments %}
                            <div class="tab-content">
                                <div class="step-image" style="background-image: url(./assets/img/users/{{comment.afbeelding}}.jpg);"></div>
                                <div>
                                    <h2>{{comment.user_name}}</h2>
                                    <p>{{comment.tekstveld}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
        
        <pre>{{dump(data)}}</pre>
    {% endfor %}
    </div>
{% endblock %}