{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}

{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# Dit is commentaar #}

    {# Print #}

{# Loop #}
    
    
    {% for record in data %}
        <div class="col-md-6 recipe">
            <div class="recipe-img" style="background-image: url('assets/img/gerechten/{{ record.image }}.jpg');"></div>
            <section>
                <header>
                    <h1>{{ record.title }}</h1>
                    <div class="rating">
                        {% for i in 1..5 %}
                            {% if i <= record.rating %}
                                <span class="fa fa-star checked" data-value={{i}}></span>
                            {% else %}
                                <span class="fa fa-star" data-value={{i}}></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </header>
                
                <p>{{ record.shortDescription}}</p>
                <div class="recipe-tags" style="text-align: end">
                    <span class="recipe-tags-kitchen">{{ record.kitchen }}</span>
                    <span class="recipe-tags-type">{{ record.type }}</span>
                </div>
                <footer class="recipe-info">
                    <a class="recipe-btn" href="http://localhost/educom-verrukkulluk/index.php?action=detail&gerecht_id={{ record.id }}">Smullen!</a>
                    
                    <div>
                        <i class="material-icons" style="vertical-align: bottom">&#xe7fb;</i>
                        <span>4</span>
                        
                        <i class='fas fa-euro-sign'></i>
                        <span>{{ record.price}}</span>

                        <i class="glyphicon glyphicon-fire"></i>
                        <span>{{ record.calories}}</span>
                    </div>
                </footer>
                
            </section>
            {# sub-loop #}
            {# <ul>
                {% for ingr in record.ingredienten %}
                    <li>
                        <span {% if ingr.id < 2 %}style='color: #F00'{% endif %}>{{ ingr.naam }}</span>

                        {# if #}
                        {#{%  if ingr.id == 3 %}
                            <strong>Dit is ID 3!</strong>
                        {%  endif  %}
                    </li>
                {% endfor %}
            </ul> #}
        </div>
    {% endfor %}
    <ul>
     {# Dump #}
       {# <pre> #}
        {#{ dump(data) }#}
       {# </pre> #}

{% endblock %}

